<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to GoUraan</title>
</head>
<body>
    <h1>Welcome {{firstName}}!</h1>
    <p>Thank you for joining GoUraan.</p>
</body>
</html>
